div#barra-cima{
    background-color: green;
    border: 1px;
    height: 150px;
    display: flex;
    align-items: center;
}
div#titulo{
    color: white;
}
body{
    background-color: rgb(219, 219, 219);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.assunto{
    background-color: rgb(231, 231, 231);
    width: 90%;
    margin: auto;
    line-height: 24px;
}
.titulo{
    text-align: center;
}
.conteudo{
    margin-left: 20px;
    margin-right: 20px;
    text-indent: 40px
}
#re{
    margin-left: 20px;
    margin-right: 20px;
    text-indent: 40px;
    color:rgb(82, 82, 82);
}
nav{
    background-color: darkgreen;
    padding: 5px;
    color: white;    
    display: flex;
    justify-content:  center;
    flex-wrap: wrap;
}
.nav{
    cursor: pointer;
    margin-right: 8px;
    border-right: 1px solid white;
    padding-right: 10px;
}
.nav:hover{
    text-decoration: underline;
}
a:link{
    text-decoration: none;
    color: white; 
}
a:visited{
    text-decoration: none;
    color: white;
}

