div#barra-cima{
    background-color: green;
    border: 1px;
    height: 150px;
    display: flex;
    align-items: center;
}
div#titulo{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(219, 219, 219);
}
div.assunto{
    background-color: rgb(231, 231, 231);
    width: 90%;
    margin: auto;
    font-family: Verdana, sans-serif;
}
.titulo{
    text-align: center;
}
.conteudo{
    margin-left: 20px;
    margin-right: 20px;
    text-indent: 40px
}
.re{
    margin-left: 20px;
    margin-right: 20px;
    text-indent: 40px;
    color:rgb(82, 82, 82);
}